*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    
}

.container h2, 
.container p,
.container span{
  
  padding: 5px 0px;
  
  }

  .container p{
    padding-left: 20px;
  }


.home-lint,
.about-lint {
    white-space: nowrap;
    display: flex;
    align-items: center;
}

.home-lint a,
.about-lint a {
    display: flex;
    align-items: center;
    color: black;
    text-decoration: none;
    margin: 0 10px;
    font-family: 'Source Sans 3', sans-serif;
    font-size: 0.75rem;
    font-weight: 600;
    line-height: 15px;
    letter-spacing: 0em;
}

.logo {
    display: flex;
    align-items: center;
}


  .hero-link {
    text-decoration: none; 
    color: white;
  
}
.article-img {
  transition: transform 0.2s ease-in-out;
}

.article-img,
.article-img1 {
    transition: transform 0.2s ease-in-out;
}

.article-img:hover,link
.article-img1:hover {
    transform: scale(1.02);
    opacity: 0.8;
}


.article-img:hover {
    transform: scale(1.02);
    opacity: 0.8;
  }

.article-info {
    display: block;
    margin: -5px 0;
    text-transform: uppercase;
  }
  
article a{
    text-decoration: none; 
    color: black;
}


.hero-link p {
    padding: 0.9375rem 0; 
}

.article-date-hero {
    margin-bottom: 0;
}

  
#poop a {
    color: black;
    text-decoration: none;
    position: relative;
    cursor: pointer;
    padding-top: 1.25em;
}

#poop a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: red;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
}

#poop a:hover::after {
    visibility: visible;
    transform: scaleX(1);
}

#poop {
    line-height: 1rem;
    display: flex;
    align-items: center;
    margin-top: -5PX;
}

#poop a:first-child {
    margin-right: -50px;
}


.site-logo {
    width: 23.16px;
    height: 23.16px;
    top: 17px;
    left: 20px;
  

}

h1 {
    width: 113.75px;
    height: 15px;
    top: 20.95px;
    left: 46.24px;
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: -0.03em;
    white-space: nowrap;
    margin-top: 15px;
    font-family: 'Roboto', sans-serif;
}


a {
    margin-top: 16px;
    font-family: 'Source Sans 3', sans-serif;
    font-size: 0.75rem;
    font-weight: 600;
    line-height: 15px;
    letter-spacing: 0em;
}


.article-date-hero {
    font-family: 'Source Sans 3', sans-serif;
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
    position: relative;
    top: 100px;
    color: white;
}


.article-title-hero {
    font-family: 'Source Sans 3', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    line-height: 35px;
    letter-spacing: -0.03em;
    text-align: left;
    position: relative;
    top: 50px;
    
    color: white;
}

h3{
    margin: 0 auto;
    padding: 1.25rem;
}


.article-preview-hero p {
    font-family: 'Source Sans 3', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 28px;
    color: white;
    word-wrap: break-word;
    padding: 50px;
  
}


.hamburger-menu {
    display: none !important;
}

.about-link {
    padding-right: 20px;
}

.home-link {
    margin-left: 50px;
}

.hero-post p:first-child {
    margin-top: 0;
}

/* ---- End of Top of website ---- */
.hero-post {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding: 20px;
    width: 100%;
    height: 293px;
    background-image: url("/images/image1.png");
    background-size: cover;
    cursor: pointer;
}

.container {
    width: 100%;
    max-width: 75%;
    padding-top: 1.5em;
    margin: 0 auto;
}

article {
    margin-bottom: 1em;
    cursor: pointer;
}

img {
    width: 100%;
}



.article-img {
    margin-bottom: 1em;
    cursor: pointer;
}

.article-title {
    font-size: 1.5rem;
    margin: 0.5em 0 0.35em 0;
  
}

.article-preview {
    margin-top: 0;
    margin-left: -1.125rem;
    
}


.article-preview, 
.article-info {
    font-weight: normal;
    font-family: Source Sans Pro;
font-size: 1rem;
font-weight: 400;
line-height: 20px;
letter-spacing: 0em;
text-align: left;
color: #505050;

}

p {
    line-height: 1.3;
}


#view-more-btn {
    border: none;
    color: black;
    text-decoration: underline;
    margin: 15px;
    margin-bottom: 100px;
    cursor: pointer;
  }
  

#additional-articles{
width: 100%;

display: none;

}

#additional-articles 
.article-info {
    padding-top: 10px;
}



.article-img1 {
    width: 100%;
    height: 200px; /* Set the desired height for the images */
    object-fit: cover; /* Maintain aspect ratio and cover the entire container */
    border-radius: 2px;
}




footer {
    margin-top: auto;
}

.footer-text {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 0.75rem;
    font-weight: 700;
    line-height: 13px;
    letter-spacing: -0.03em;
    text-align: center;
    color: #ECECEC;
    padding-top: 20px;
    text-align: center;
}

.footer-text1 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 13px;
    letter-spacing: -0.03em;
    text-align: center;
    color: #D7D7D7;
    margin: auto;
    text-align: center;
}

@media (min-width: 600px) {
    .logo {
        color: black;
        text-decoration: none;
        position: relative;
       
        display: flex;
       
      }
    
      #poop{
    
        color: black;
        text-decoration: none;
        position: relative;
        cursor: pointer;
        display: flex;
        
      }
    
    }

/* -------------------------------------------------------------------------------------------------- */
@media (min-width: 400px) {
    .posts {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 1em;
    }

    .logo {
        color: black;
        text-decoration: none;
         display: flex;
    align-items: center;
        display: flex;
       
      }


    .posts article {
        flex: 1 220px;
    }

    .hamburger-menu {
        display: none;
    }

    .nav-links {
        display: none;
    }

    header {
        width: 75%;
        height: 89px;
        display: flex;
        justify-content: space-between;
    }

    .site-logo {
        width: 23.16px;
        height: 23.16px;
        top: 17px;
        left: 20px;
        margin: 10px;
    }

    .home-lint {
        color: white;
        padding-right: 100px;
        right: 200px;
    }

    h1 {
        width: 113.75px;
        height: 15px;
        top: 20.95px;
        left: 46.24px;
        font-size: 0.875rem;
        font-weight: 700;
        line-height: 15px;
        letter-spacing: -0.03em;
        white-space: nowrap;
        margin-top: 15px;
        font-family: 'Roboto', sans-serif;
    }

   
      

    a {
        margin-top: 16px;
        font-family: 'Source Sans 3', sans-serif;
        font-size: 12px;
        font-weight: 600;
        line-height: 15px;
        letter-spacing: 0em;
    }

    .hero-post p:first-child {
        margin-top: 0;
    }

    .hero-post {
        width: 75%;
        height: 293px;
    
        background-image: url("/images/image1.png");
        display: flex;
        flex-direction: column;
        background-size: cover;
        transition: transform 0.3s, opacity 0.3s;
    }
    
    .hero-post:hover {
        transform: scale(1.01);
        opacity: 0.8;
    }
    

    p {
        padding-left: 20px;
        padding-right: 20px;
    }

    footer {
        width: 75%;
        height: 100px;
        top: 1662px;
        background-color: #202020;
    }


}

/* -------------------------------------------------------------------------------------------------- */
@media (max-width: 390px) {
 
   
 
        .article-preview-hero {
            overflow-wrap: break-word;
            width: 100%;
        }
    
        header {
            width: 75%;
            height: 89px;
            display: flex;
            justify-content: space-between;
        }
    
        .hero-link {
            position: relative;
            margin-top: -50px; /* Adjust this value as needed */
            text-align: left;
            
        }
    
        .hero-link p {
            padding: 0.9375rem 0;
            
        }
    
        .hero-post {
            width: 75%;
            height: 293px;
            margin-top: 20px;
            background-image: url("/images/image1.png");
            display: flex;
            flex-direction: column;
            background-size: cover;
        }

    .nav-links {
        position: absolute;
        top: 0;
        right: 0;
        display: none;
        z-index: 9999;

    }

    .nav-links.open {
        display: block;
        background-color: #202020;
        height: 100%;
        width: 200px;
        margin-left: 200px;
    }

    .nav-links a {
        display: flex;
        color: white;
        margin: 10px 15px;
        position: relative;
        top: 50px;
        left: 10px;
        font-size: 1.56rem;
        transition: color 0.3s, left 0.3s;
        margin-bottom: 50px;
        margin-top: 50px;
        text-decoration: none;
        position: relative;
        left: 0;
        transition: left 0.3s ease;
    }

    .nav-links a::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -10px;
        width: 0;
        height: 2px;
        background-color: RED;
        transition: width 0.3s ease-in-out;
    }

    .nav-links a:hover::after {
        width: 100%;
    }

    .hamburger-menu {
        display: block !important;
        margin: auto;
        padding-right: 28px;
        cursor: pointer;
       margin-top: 45px;
    }

    .home-lint {
        display: none;
    }

    .close-icon {
        position: absolute;
        top: 15px;
        right: 25px;
        cursor: pointer;
        font-size: 1.56rem;
        color: white;
    }

    .close-icon:hover {
        color: red;
    }

    .hamburger-menu,
    .close-icon {
        transition: transform 0.3s ease-in-out;
    }

    .open-menu-animation {
        transform: rotate(90deg);
    }

    .close-menu-animation {
        transform: rotate(45deg);
    }

    .logo {
        color: black;
        text-decoration: none;
       
        display: flex;
      }
      footer {
        width: 75%;
        height: 100px;
        top: 1662px;
        background-color: #202020;
    }
   
    
}



/* -------------------------------------------------------------------------------------------------- */

@media (min-width: 600px) {
    .article-preview-hero {
        max-width: 600px;
        word-wrap: break-word;
    }
}


/* -------------------------------------------------------------------------------------------------- */



@media (min-width: 768px) {
    .posts article {
        flex-basis: 250px;
    }

}